.buttons {
    size: 100pt;
    width:100%;
    text-align: center;
    align-items: center;
    float: left;
    
}

.randy1 {
    float: left;
}

.randy2 {
    float: right;
}
.inner {
    display: inline-block;
    color: blue;
    text-size-adjust: 40;

}

.box1{
    width: 60%;
    margin: auto;
    border:5px; 
    border-style:solid; 
    border-color:#FF0000; 
    
    
}

.box2{
    width: 80%;
    margin: auto;
    border: 3px;
    border-style: solid;
    border-color:chartreuse
}

.box3{
    width: 30%;
    float: center;
    margin: auto;
    border: 5px;
    border-style: dotted;
    border-color:rgb(240, 6, 142)
}

.box4{
    width: 30%;
    align-content: right;
    float: right;
    margin: auto;
    border: 5px;
    border-style: dashed;
    border-color:rgb(240, 6, 142)
}

.workout{
    align-items: left;
    text-align: left;
    font-size: medium;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: red;
    text-align: center;
    size: 40pt;

}

h2 {
    text-align: center;
    color: blue;
    size: 30pt;
}

h3 {
    text-align: center;
    color: red;
    size: 20pt;
}

h4 {
    text-align: center;
    size: 30pt;
    
}

p {
    color:black;
    text-align: center;
    size: 25pt;
}



ul {
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}